<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sapient Systems FlashMessages Demonstration</title>

    <link rel="stylesheet" href="~/lib/bootstrapv3/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a asp-page="/Index" class="navbar-brand">Sapient Systems FlashMessages Demonstration</a>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        <!-- Render the flash messages -->
        @await Html.PartialAsync("_FlashMessagesPartial")

        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - Sapient Systems</p>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrapv3/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
