﻿@page
@model FlashStoreListModel
@{
    ViewData["Title"] = "Flash Store List";
    if (Model.BootstrapMajorVersion == 4)
    {
        Layout = "./_LayoutBootstrapV4";
    }
    else
    {
        Layout = "./_LayoutBootstrapV3";
    }
}

<p>
    The FlashMessageStore contains the following alerts, and is being displayed for
    Bootrstrap version @Model.BootstrapVersion. The contents of the FlashMessageStore
    vary depending on the environment in which the server is run. To view all message types,
    ensure the envrionment is set to Development.
</p>

<p>
    To return to the demonstration page click <a asp-page="/Index">here.</a>
</p>

<div class="alert-list">
    @foreach (var message in await Model.FlashMessages.GetAllAsync())
    {
        <flash asp-message-type="@message.MessageType"
            asp-title="@message.Title",
            asp-message="@message.Text",
            asp-dismiss="@message.Dismissible"
            asp-bootstrap-version=@Model.BootstrapVersion />
    }
</div>
