﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="jumbotron">
    <h1>Flash Message Demonstration</h1>
    <p>
        Complete the form below to run the Sapient.AspNetCore.FlashMessages demonstration.
        The form input asks for two integers between 0 and 10, and will return the sum in a 
        flash message at the top of the page. Any errors will result in the page being displayed 
        again, with a prompt that the form contains errors.
    </p>
    <p>
        For further information on the Sapient.AspNetCore.FlashMessages package, visit the project
        website, which is hosted at 
        <a href="https://bitbucket.org/sapientsystems/sapient.aspnetcore.flashmessages">
            bitbucket.org
        </a>.
    </p>
</div>

<form method="post">
    <div class="form-group">
        <label asp-for="Input.Value1" class="control-label"></label>
        <input asp-for="Input.Value1" class="form-control" />
        <span asp-validation-for="Input.Value1" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Input.Value2" class="control-label"></label>
        <input asp-for="Input.Value2" class="form-control" />
        <span asp-validation-for="Input.Value2" class="text-danger"></span>
    </div>
    <div class="form-group text-right">
        <input type="submit" value="Calculate sum" class="btn btn-primary" />
    </div>
</form>

<p>
    This page is displayed using Bootstrap v4.0.0-beta3. This module supports the V4 Bootstral alert 
    classes, with each type displayed <a asp-page="./FlashStoreList" asp-route-bootstrapVersion = "4.0.0">here.</a>
    To see how these messages are displayed for Bootstrap V3 series, click 
    <a asp-page="./FlashStoreList">here.</a>
</p>